
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow the API requests to go through to the Python app if needed
  # Otherwise, redirect all requests to index.html for React SPA
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
